@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Start";
}

<p>Unsure of where your money is going with your Github account?  Upload your recent Usage report from Github to get a visual on where your money is going</p>

<form asp-controller="Home" asp-action="Report" enctype="multipart/form-data">
    <div class="drop-zone">
        <span class="drop-zone__prompt">Drop a Github usage file here or click to upload</span>
        <input type="file" class="drop-zone__input" asp-for="UploadFile">      
    </div>
    <span class="text-danger" asp-validation-for="UploadFile"></span>
    
    <div class="alert alert-info mt-1">
        Your uploaded file is never stored and processed in real-time only.
    </div>

    <div class="form-group">
        <button class="btn btn-primary w-100" onclick="trackUpload();" type="submit">
            Build My Report
        </button>
    </div>
</form>

@section scripts{
    <script>        
        handleFilePickers(".custom-file-input");
    </script>
    <script type="text/javascript" src="/js/dragdrop.js" asp-append-version="true"></script>
}
