$example-color:$light-accent;

.icg-example {
    border:1px solid $example-color;
    background:$white;
    padding:20px;
    margin-bottom:20px;
    border-radius:2px;
    .example-title {
        @include font-size(14);
        font-weight:600;
        margin:-20px;
        margin-bottom:20px;
        padding:9px 20px;
        border-bottom:1px solid;
        border-color:inherit;
        background:lighten($example-color, 20%);
        color:darken($example-color,20%);
    }
    pre {
        margin-bottom:0;
    }
    code {
        display:inline-block;
        line-height:1.5;
    }
   
    .code-dropdown {
        .btn-link {
            background:$gray-600;
            color:$white;
            text-decoration:none;
            text-align:left;
            width:100%;
            position:relative;
            &:hover {
                text-decoration:none;
            }
            &:after {
                content:'';
                position:absolute;
                right:.75rem;
                top:50%;
                height:7px;
                width:7px;
                border-bottom:1px solid $white;
                border-right:1px solid $white;
                transform:rotate(-45deg) translateY(-50%);
                transform-origin:25% 0;
                transition:.15s all ease-out;
            }
            &[aria-expanded*='true'] {
                border-radius:2px 2px 0 0;
                &:after {
                    margin-top:-2px;
                    transform:rotate(45deg) translateY(-50%);
                }
            }
        }
    }
}
