.icg-content {
    padding:20px;
    padding-top:70px;
    padding-bottom:67px;
    @include mq-max-width(992) {
        margin-left:56px;
    }

    .breadcrumb {
        margin:-20px -20px 20px;
        padding:6px 20px;
        border-bottom:1px solid rgba(0,0,0,.07);
        @include font-size(12);
        background:transparent;
        li {
            display:inline-block;
            + li:before {
                color:#ccc;
                content:'/ ';
                padding:0 5px 0 8px;
            }
        }
        .active {
            color:#444;
        }
        a {
            color:#999;
        }
    }
    .page-header {
        margin:-20px -20px 20px;
        padding:20px;
        border-bottom:1px solid #e6e6e6;
        .header-search {
            input {
                background-color:rgba(0,0,0,.05);
                border-radius:2px;
                height:31px;
                padding:4px 12px;
                border:1px solid #d6d6d6;
                @include font-size(13);
                color:#444444;
                border-bottom-left-radius:0;
                border-top-left-radius:0;
                border-left:none;
                box-shadow:none;
            }
            .input-group-prepend {
                margin-right:0;
            }
            .input-group-text {
                @include font-size(12);
                padding-right:0;
                border-right:none;
                display:inline-flex;
                align-items:center;
            }
        }
    }
    h1 {
        @include font-size(18);
        line-height:30px;
        margin:0;
        i {
            margin-right:10px;
        }
    }
}

hr.page-wide-block {
    border-color:#e6e6e6;
    margin:20px -20px;
    height:0;
}

@media print {
    .icg-content {
        margin-left: 0px;
    }
}