$nav-padding-left-spacing:22px;

.icg-nav-left {
    background:$dark-shade;
    color:$white;
    z-index:1008;
    width:230px;
    height:auto;
    min-height:100%;
    transition:.15s width ease-in-out;
    a {
        color:$light-accent;
    }
    ul {
        list-style-type:none;
        margin:0;
        padding:0;
    }
    .nav-toggle {
        position:absolute;
        overflow:hidden;
        background-color:$gray-100;
        width:56px;
        height:50px;
        padding:0;
        text-align:center;
        border:none;
        border-radius:0;
        line-height:50px;
        z-index:50;
        transition:.15s all ease-out;
        .toggle-arrow {
            left:10px;
            border:3px solid transparent;
            border-right-color:$gray-700;
            position:absolute;
            top:50%;
            display:block;
            margin-top:-2px;
        }
        .toggle-label {
            display:none;
        }
        .toggle-icon {
            color:$gray-700;
            background:$gray-700;
            position:absolute;
            top:50%;
            left:22px;
            margin-top:-1px;
            display:block;
            width:12px;
            height:2px;
            margin:auto;
            &:before, &:after {
                position:absolute;
                content:"";
                display:block;
                color:$gray-700;
                background:$gray-700;
                width:12px;
                height:2px;
                margin:auto;
            }
            &:before {
                top:-4px;
            }
            &:after {
                top:4px;
            }
        }
    }
    .nav-box {
        @include font-size(16);
        padding:20px;
        display:flex;
        border:none;
        border-bottom:1px solid $dark-accent;
        animation: icg-nav-delay .25s 1;
        .btn-group {
            margin-top:4px;
        }
        .btn {
            padding:2px 7px;
            @include font-size(11);
        }
        .close {
            position: absolute;
            top:10px;
            right:10px;
            opacity:.5;
            text-shadow:none;
            color:$white;
            font-weight:300;
            font-size:18px;
            &:hover {
                opacity:1;
            }
        }
    }
    .nav-item a {
        position:relative;
        padding:12px $nav-padding-left-spacing;
        display:flex;
        transition:none color;
        &:not([class*="bg-"]):hover {
            color:$white;
            &:before {
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                display:block;
                width:3px;
                content:"";
                background:$main-shade;
            }
            i {
                color:$white;
            }
        }
        i {
            display:inline-block;
            width:30px;
            margin-right:10px;
            margin-top:2px;
            text-align:center;
            font-size:16px;
            line-height:1;
            color:$light-accent;
        }
        .nav-label {
            display:flex;
            justify-content:space-between;
            align-items:center;
            width:100%;
            animation: icg-nav-delay .25s 1;
        }
        .badge {
            padding:.3rem .45rem;
            font-size:85%;
        }
    }
    .nav-item.active {
        i, a:hover i {
            color:$active-nav-icon;
        }
        > a {
            color:$white;
        }
        li.active a {
            background-color:rgba(0,0,0,0.5);
            &:before {
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                display:block;
                width:3px;
                content:"";
                background:$main-shade;
            }
        }
    }
    .dropdown {
        overflow:hidden;
        margin:0;
        padding:0;
        &:not(.active) a:not(.collapsed) i {    
            color:$white;
        }
        > a {
            padding-right:36px;
            &:after {
                position:absolute;
                top:50%;
                right:22px;
                display:block;
                width:5px;
                height:5px;
                margin-top:-2px;
                content:'';
                transform:rotate(45deg);
                border-width:1px 1px 0 0;
                border-style:solid;
                transition:.15s all ease-in-out;
            }
            &:not(.collapsed) {
                color:$white;    
                &:after {
                    transform:rotate(135deg);
                }
            }
        }
        > ul {
            background-color:$dark-accent;
            transition:.25s all ease-in-out;
            a {
                padding-left:$nav-padding-left-spacing * 2 + 16px;
            }
            > li > ul > li a {
                padding-left:$nav-padding-left-spacing * 3 + 6px;
            }
        }
    }
    .nav-scrollable-area {
        @include mq-min-width(992) {
            position: sticky;
        }
        top: 0;
        height: 100%;
        margin-top: 50px;
    }
    .nav-title {
        display:none;
    }
}
.icg-nav-expand .nav-content {
    visibility: visible;
}
.icg-nav-expand {
    left:0;
    @include mq-max-width(992) {
        z-index:1052;
    }
}

// Desktop Collapsed
@include mq-min-width(992) {
    .icg-nav-left.icg-nav-collapse {
        width:56px;
        .nav-content > .nav-item > ul {
            display:none !important;
        }
        .nav-content > .nav-item {
            overflow:visible;
            &:hover > ul {
                display:block !important;
            }
            a {
                ~ ul {
                    position:absolute;
                    left:100%;
                    top:0;
                    width:230px;
                    .nav-label {
                        display:block !important;
                    }
                }
            }
        }
        .nav-title {
            display:block;
            @include font-size(13);
            font-weight:600;
            padding:12px;
            background-color:$dark-shade;
        }
        .nav-toggle .toggle-arrow {
            left:unset;
            right:10px;
            transform:rotate(180deg);
        }
        .dropdown>a:after {
            right:14px;
            transform:rotate(45deg) !important;
        }
        .nav-label, .nav-box {
            display:none !important;
        }
        .nav-item a {
            padding:12px 12px;
        }
        ~ .icg-content {
            margin-left:56px;
        }
    }
}

@include mq-max-width(992) {
    .icg-nav-left.icg-nav-expand {
        .nav-toggle {
            width:230px;
            .toggle-label {
                display:block;
                animation: icg-nav-delay .25s 1;
            }
        }
    }
    .icg-nav-left:not(.icg-nav-expand) {
        width:56px;
        .nav-content > .nav-item > ul {
            display:none !important;
        }
        .nav-content > .nav-item {
            overflow:visible;
            &:hover > ul {
                display:block !important;
            }
            a {
                ~ ul {
                    position:absolute;
                    left:100%;
                    top:0;
                    width:230px;
                    .nav-label {
                        display:block !important;
                        animation: icg-nav-delay .25s 1;
                    }
                }
            }
        }
        .nav-title {
            display:block;
            @include font-size(13);
            font-weight:600;
            padding:12px;
            background-color:$dark-shade;
        }
        .nav-toggle .toggle-arrow {
            left:unset;
            right:10px;
            transform:rotate(180deg);
        }
        .dropdown>a:after {
            right:14px;
            transform:rotate(45deg) !important;
        }
        .nav-label, .nav-box {
            display:none !important;
        }
        .nav-item a {
            padding:12px 12px;
        }
        ~ .icg-content {
            margin-left:56px;
        }
    }
}