.select2-container--default {
    margin-bottom:1rem;
    &.select2-container--focus .select2-selection--multiple {
        border-color:$main-accent;
    }
    .select2-selection--multiple {
        border:1px solid $input-border-color;
        padding:0 5px;
        border-radius:2px;
        .select2-selection__rendered {
            padding:0;
        }
        .select2-selection__choice {
            border-radius:2px;
            border:none;
            background-color:$gray-700;
            color:$white;
            padding:0 6px;
            font-weight:600;
            line-height:21px;
            span {
                color:$white;
                margin-right:6px;
                &:hover {
                    color:rgba(255,255,255,0.7);
                }
            }
        }
        li:only-of-type {
            padding-left:5px;
        }
    }
}