<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>@ViewData["Title"] - Github Cost Visualizer</title>

    <!-- Stylesheets -->
    <link href="/css/style.min.css" rel="stylesheet" type="text/css" asp-append-version="true">
    <link href="/css/all.min.css" rel="stylesheet" type="text/css" asp-append-version="true">

    <!-- Javascript -->
    <script type="text/javascript" src="/js/jquery.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="/js/jquery.validate.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="/js/additional-methods.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="/js/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="/js/scripts.min.js" asp-append-version="true"></script>
</head>

<body>
    <div class="container-fluid login">
        <div class="row justify-content-center">
            <div class='col-md-4 bg-white p-1'>
                <div class="text-center">
                    <img class="img-fluid pt-1" src="/images/githubcostanalyzer.png" />
                </div>
                <div class="pr-2 pl-2 controls">
                    @RenderBody()

                    <environment exclude="Production">
                        <div class="alert alert-warning text-center">
                            NOTE: This is the non-production system
                        </div>
                    </environment>
                    <p class="text-center">
                        View on <a href="https://github.com/IowaComputerGurus/github-cost-visualizer">Github</a>
                    </p>
                    <p class="text-center">
                        <small>This is a free service provided by <a href="https://www.iowacomputergurus.com">IowaComputerGurus, Inc.</a> <a href="https://www.iowacomputergurus.com/privacy">Privacy Policy</a></small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
